:root {
	/* declare variable */
	--link-color: rgba(255,255,255,0.25);
	--background-color: black;
	--foreground-color: white;
}

div#page {
	padding: 1em;
}

div#page p, div#page a, div#page speak, div#page h1,  div#page h2,  div#page h3,  div#page h4,  div#page h5,  div#page h6 {
	color: white;
}

div#page a {
	color: var(--link-color);
	/* text-decoration: wavy underline var(--link-color) 0.05em; */
	text-decoration: none;
}

div#page a:hover {
	color: var(--background-color);
	background-color: var(--link-color);
	text-decoration-color: var(--background-color);
}

ul, ul li {
	color: var(--foreground-color);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
