/* stylesheet on twee.html page */

:root {
	/* declare variable */
	--foreground-color: white;
	--background-color: transparent;
	--link-color: rgb(255, 255, 255);
	/* --link-color-decoration: rgba(255, 255, 255, 0.5); */
	--link-color-highlight: rgba(255, 0, 0, 1.0);
	--link-background-color: trasparent;
	--link-hover-foreground-color: rgb(255, 0, 0);
	--link-hover-background-color: transparent;
	--link-padding: 0.15em;
}

div#page {
	padding: 2em;
}

div#page p, div#page a, div#page speak, div#page h1,  div#page h2,  div#page h3,  div#page h4,  div#page h5,  div#page h6 {
	color: var(--foreground-color);
}

div#page a {
	color: var(--link-color);
	background-color: var(--link-background-color);
	text-decoration: none;
}

div#page a.highlight {
	color: var(--link-color-highlight);
	text-decoration: none;
}

div#page a:hover {
	color: var(--link-hover-foreground-color);
	background-color: var(--link-hover-background-color);
	/* text-decoration-color: var(--link-hover-foreground-color); */
	padding-left: var(--link-padding);
	padding-right: var(--link-padding);
	margin-left: calc(-1.0 * var(--link-padding));
	margin-right: calc(-1.0 * var(--link-padding));
}

ul, ul li, speak {
	color: var(--foreground-color);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
