:root {
	--time-spread: 0.75s;
}

@keyframes wave {
	0%	{ font-variation-settings: "wght" 400; }
	10%	{ font-variation-settings: "wght" 400; }
	25%	{ font-variation-settings: "wght" 600; }
	50%	{ font-variation-settings: "wght" 800; }
	75%	{ font-variation-settings: "wght" 600; }
	90%	{ font-variation-settings: "wght" 400; }
	100%{ font-variation-settings: "wght" 400; }
}

speak span.wave-a, speak span.wave-b, speak span.wave-c, speak span.wave-d, speak span.wave-e, speak span.wave-f, speak span.wave-g, speak span.wave-h, speak span.wave-i, speak span.wave-j, speak span.wave-k, speak span.wave-l, speak span.wave-m, speak span.wave-n, speak span.wave-o, speak span.wave-p, speak span.wave-q, speak span.wave-r, speak span.wave-s, speak span.wave-t, speak span.wave-u, speak span.wave-v, speak span.wave-w, speak span.wave-x, speak span.wave-y, speak span.wave-z {
	animation: wave 10s infinite linear;
}

speak span.wave-a {
	animation-delay: calc(var(--time-spread) * 1);
}

speak span.wave-b {
	animation-delay: calc(var(--time-spread) * 2);
}

speak span.wave-c {
	animation-delay: calc(var(--time-spread) * 3);
}

speak span.wave-d {
	animation-delay: calc(var(--time-spread) * 4);
}

speak span.wave-e {
	animation-delay: calc(var(--time-spread) * 5);
}

speak span.wave-f {
	animation-delay: calc(var(--time-spread) * 6);
}

speak span.wave-g {
	animation-delay: calc(var(--time-spread) * 7);
}

speak span.wave-h {
	animation-delay: calc(var(--time-spread) * 8);
}

speak span.wave-i {
	animation-delay: calc(var(--time-spread) * 9);
}

speak span.wave-j {
	animation-delay: calc(var(--time-spread) * 10);
}

speak span.wave-k {
	animation-delay: calc(var(--time-spread) * 11);
}

speak span.wave-l {
	animation-delay: calc(var(--time-spread) * 12);
}

speak span.wave-m {
	animation-delay: calc(var(--time-spread) * 13);
}

speak span.wave-n {
	animation-delay: calc(var(--time-spread) * 14);
}

speak span.wave-o {
	animation-delay: calc(var(--time-spread) * 15);
}

speak span.wave-p {
	animation-delay: calc(var(--time-spread) * 16);
}

speak span.wave-q {
	animation-delay: calc(var(--time-spread) * 17);
}

speak span.wave-r {
	animation-delay: calc(var(--time-spread) * 18);
}

speak span.wave-s {
	animation-delay: calc(var(--time-spread) * 19);
}

speak span.wave-t {
	animation-delay: calc(var(--time-spread) * 20);
}

speak span.wave-u {
	animation-delay: calc(var(--time-spread) * 21);
}

speak span.wave-v {
	animation-delay: calc(var(--time-spread) * 22);
}

speak span.wave-w {
	animation-delay: calc(var(--time-spread) * 23);
}

speak span.wave-x {
	animation-delay: calc(var(--time-spread) * 24);
}

speak span.wave-y {
	animation-delay: calc(var(--time-spread) * 25);
}

speak span.wave-z {
	animation-delay: calc(var(--time-spread) * 26);
}