/* 
	remove the iframe frameborder
	frame should fill 100% of the width and 75% of the height of the page
	it should be at the top of the page
	it should have no margins or padding
	the frame should have no background and be transparent
*/
iframe {
	border: none;
	width: 100%;
	height: 75vh;
	margin: 0;
	padding: 0;
}
